@model UniCareERP.Application.DTOs.UserDto

@{
    ViewData["Title"] = "User Details";
}

<h1>User Details</h1>

<div>
    <h4>@Html.DisplayFor(model => model.UserName)</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.EmployeeId)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.EmployeeId)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Roles)
        </dt>
        <dd class = "col-sm-9">
            @string.Join(", ", Model.Roles)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
