@model IEnumerable<UniCareERP.Application.DTOs.Finance.OtherExpenseDto>

@{
    ViewData["Title"] = "Other Expenses";
}

<h1>Other Expenses</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Record New Expense</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpenseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                Debited Account
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpenseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralLedgerAccountName)
            </td>
        </tr>
}
    </tbody>
</table>
