@model UniCareERP.Application.DTOs.Procedures.ProcedureDto

@{
    ViewData["Title"] = "Procedure Details";
}

<h1>Procedure Details</h1>

<div>
    <h4>Procedure</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedureCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedureCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcedureDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcedureDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>

<h4>Charges</h4>
<table class="table">
    <thead>
        <tr>
            <th>Description</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var charge in Model.ProcedureCharges)
        {
            <tr>
                <td>@charge.Description</td>
                <td>@charge.Amount</td>
                <td>@charge.Status</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
