@model UniCareERP.Application.DTOs.OperationTheatre.OTScheduleDto

@{
    ViewData["Title"] = "OT Schedule Details";
}

<h1>OT Schedule Details</h1>

<div>
    <h4>OTSchedule</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OperationTheatreName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OperationTheatreName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurgicalProcedureName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurgicalProcedureName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SurgicalTeamName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SurgicalTeamName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
