@model UniCareERP.Domain.Entities.Radiology.WorklistItem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorklistItem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImagingTest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImagingTest.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduledTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduledTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
